.logintextfeild{
    -fx-border-color: linear-gradient(to bottom right, #151e4f, #156b86);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-border-style: solid;
}

.loginlabel{
    -fx-background-color: linear-gradient(to bottom right, #151e4f, #156b86);
    -fx-border-color: #e7eef1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 25px;
    -fx-border-width: 6px;
    -fx-background-radius: 25px;
    -fx-border-style: solid;
}

.loginbutton{
    -fx-background-color: linear-gradient(to bottom right, #151e4f, #93d9ec);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-border-style: solid;
}