.side_slider{
    -fx-background-color: linear-gradient(to bottom right, #151e4f, #156b86);
    -fx-border-color: linear-gradient(to bottom right, #151e4f, #156b86);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-border-style: solid;
}

.inner_pane{
    -fx-background-color: rgb(49, 49, 253);
    -fx-border-color:linear-gradient(to bottom right, #201d6b, #5d59af);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-border-style: solid;
}

.btn_dashboard{
    -fx-background-color:linear-gradient(to bottom right, #151e4f, #156b86);
    -fx-border-color: #98aaff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-border-style: solid;
}

.admin_header{
    -fx-background-color: linear-gradient(to bottom right, #151e4f, #156b86);
    -fx-border-color: linear-gradient(to bottom right, #151e4f, #156b86);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-border-style: solid;
}

.admin_settings_btn {
    -fx-background-color:linear-gradient(to bottom right, #151e4f, #156b86);
    -fx-border-color: #98aaff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-border-style: solid;
}

.admin_logout_btn1{
    -fx-background-color:linear-gradient(to bottom right, #850000, #ea0b0b);
    -fx-border-color: #8f0c22;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-border-style: solid;
}

.content_anchor_pane{
    -fx-background-color: linear-gradient(to bottom right, rgba(21, 30, 79, 0.24), rgba(21, 107, 134, 0.26));
    -fx-border-color: linear-gradient(to bottom right, #151e4f, #156b86);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-border-style: solid;
}